<form>

  <!--<div class="signin-form collapse" id="collapseExample">-->
  <h3>Transition Detail</h3>
  <table>
    <tr>
      <th>Name</th>
      <th>SurName</th>
      <th>Amount</th>
      <th>Date</th>
      <th>Address</th>
      <th>Statue</th>
      <th>Payment</th>
    </tr>
    <tr>
      <td>{{student.name}}</td>
      <td>{{student.surname}}</td>
      <td>{{student.gpa}}</td>
      <td>{{student.penAmount}}</td>
      <td>{{student.image}}</td>
      <td>{{student.feature}}</td>
      <td>{{student.description}}</td>

    </tr>
  </table>

  <!--</div>-->
  <span>

</span>
</form>



