<form>
  <div class="row">
  <div class="col-md-7">
    <div class="input-group">
      <input type="text" class="form-control" name="sdf" [(ngModel)]="search" placeholder="Search for...">
      <span class="input-group-btn">
              <button class="btn btn-default" type="button" (click)="onSearch()"><i class="fa fa-search" aria-hidden="true"></i></button>
      </span>
    </div>
  </div>
  <div class="checkBox col-md-5" style="margin: 0" >
    <select [(ngModel)]="value" name="sf" (click)="onSearch()">
      <option [selected]="value==1">Date</option>
      <option [selected]="value==2">Paid</option>
      <option [selected]="value==3">Pending</option>
    </select>
  </div>
  </div>
  <div class="row">
  <!--<div class="signin-form collapse" id="collapseExample">-->
  <h3>Payment List</h3>
  </div>
  <table>
    <tr>
      <th>Name</th>
      <th>Amount</th>
      <th>Date</th>
      <th>Payment</th>
    </tr>
    <tr *ngFor="let x of students" (click)="showDetail(x)">
      <td>{{x.name}}</td>
      <td>{{x.gpa}}</td>
      <td>{{x.penAmount}}</td>
      <td>{{x.description}}</td>
    </tr>
  </table>
  <p class="order"><b>Order:</b> sfsfsfssdf</p>
  <!--</div>-->
  <span>
  <button class="btn btn-primary btn-signup"  type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
    Close
  </button>
</span>
</form>



